<h1>Bem-vindo a Mainô</h1>
<% if user_signed_in? %>
  <p>Você está autenticado, bem vindo, <%= current_user.user_name %>.</p>
<% else %>
  <p>Faça o login para ter acesso ao sistema.</p>
<% end %>





